@charset "UTF-8";

/* 폰트 CSS */
@font-face {
	font-family: 'KIMM_Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2')
		format('woff2'); /* CDN 절대링크  */
	font-weight: 700;
	font-style: normal;
}
/* 되도록 안건드리는 영역 */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'KIMM_Bold', sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	padding: 0px;
}

header {
	width: 100%;
	position: fixed;
	z-index: 2;
}

footer {
	bottom: 0;
	z-index: 5;
	position: relative;
}

.wrap {
	margin-top: -110px;
	min-height: 100%;
	position: relative;
}

.main {
	width: 1600px;
	height: auto;
	position: relative;
	top: 105px;
	left: 50%;
	transform: translateX(-50%);
}

/* 클리어 */
.clear {
	clear: both;
}
/* 밑의 영역부터 css시작 */
.container {
	width: 100%;
}
/*MyPage CSS*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

section.notice {
	width: 1000px;
	min-height: 200px;
}

.aside_left {
	margin-top: 45px;
	margin-left: 60px;
	width: 180px;
	min-height: 700px;
	float: left;
	text-align: left;
}

.aside_left nav {
	min-height: 600px;
	margin-bottom: 50px;
}

.aside_left li {
	padding-top: 8.2px;
	padding-bottom: 2px;
	list-style: none;
}

li {
	padding-top: 10px;
}

nav {
	min-height: 600px;
	margin-bottom: 50px;
}

#subspan {
	color: #808080;
}

div.page-title {
	width: 1000px;
	min-height: 10px;
	padding: 0px 10px;
	text-align: left;
}

h3.page-title {
	font-size: 25px;
	color: black;
	font-weight: 400;
	text-align: left;
}

.memBasicInfo {
	height: 120px;
	padding: 20px;
	float: left;
}

#board-search .search-window {
	width: 1000px;
	min-height: 80px;
	padding: 15px 0;
	text-align: left;
}

.board-table {
	font-size: 13px;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.board-table th {
	text-align: center;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 2px;
}

.board-table .th-num {
	width: 100px;
	text-align: center;
}

table th.th-title {
	font-size: 15px;
	width: 200px;
}

table td.td-title {
	font-size: 13px;
}

table th.th-date {
	font-size: 15px;
	width: 80px;
}

table th.th-date1 {
	font-size: 15px;
	width: 50px;
}

table th.th-date2 {
	font-size: 15px;
	width: 150px;
}

.board-table th, .board-table td {
	padding-top: 14px;
	padding-bottom: 14px;
}

.board-table tbody td {
	border-top: 1px solid #e7e7e7;
	text-align: center;
	font-size: 15px;
}

.board-table tbody th {
	font-size: 15px;
	border-top: 1px solid #e7e7e7;
	text-align: center;
	padding: 140px 0 36px;
	background: url(../images/bg_no_list.png) no-repeat 50% 40px;
}

.board-table tbody th p {
	display: none;
}

.th-list {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #F4A460;
	border-bottom-color: white;
	border-bottom-width: 0.2px;
	border-bottom-style: solid;
}

.td-inputInfo {
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;
}

.td-infoPs {
	text-align: left;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 15px;
	border-bottom-color: gray;
	border-bottom-width: 0.2px;
	border-bottom-style: solid;
	font-size: 12px;
	font-weight: bold;
	color: red;
}

div.submitBtn {
	float: left;
	margin-left: 100px;
}

#updateBtn {
	padding: 20px 80px;
	background-color: #FC5400;
	border: 1px solid white;
	color: white;
	font-size: 20px;
	font-weight: bold
}

#resetBtn {
	padding: 20px 120px;
	background-color: white;
	border: 1px solid lightgray;
	font-size: 20px;
	font-weight: bold;
}

#withdrawalBtn {
	padding: 20px 100px;
	background-color: #FC5400;
	border: 1px solid white;
	color: white;
	font-size: 20px;
	font-weight: bold
}

#changePwdBtn {
	padding: 20px 120px;
	background-color: #FC5400;
	border: 1px solid white;
	color: white;
	font-size: 20px;
	font-weight: bold
}

/* reset */
* {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

div.myPageTitle {
	width: 1100px;
	margin: 0 auto;
	border: 1px solid red;
}

div.container {
	width: 1000px;
	margin: 20px 0px;
}

.innerWrap {
	width: 1000px;
	min-height: 700px;
	padding: 20px;
	float: left;
	margin-top: 100px;
	margin-left: 100px;
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	width: 1px;
	height: 1px;
}

.clear {
	clear: both; /*float 속성을 제거함으로써 잘못 된 ui 적용을 막아줌 */
}

/* a 링크 : 메뉴바 */
a:link.liList {
	text-decoration: none;
	color: #a399a2;
}

a:visited.liList {
	text-decoration: none;
	color: #a399a2;
}

a:hover.liList {
	text-decoration: underline;
	color: #B21948;
}

a:active.liList {
	text-decoration: none;
	color: #B21948;
}

table a:link.orderList {
	text-decoration: none;
	color: black;
}

table a:visited.orderList {
	text-decoration: none;
	color: black;
}

table a:hover.orderList {
	text-decoration: underline;
	color: #FC5400;
	cursor: pointer;
}

table a:active.orderList {
	text-decoration: none;
	color: #FC5400;
}
/* 페이징 처리 */
/* 페이징 전체 틀 */
.pagination-container {
	margin: 10px auto;
	display: flex;
	justify-content: center;
}

.pagination {
	position: relative;
}
/* 'PREV' 전체 틀 */
#pagination a {
	position: relative;
	display: inline-block;
	color: #B21948; /* 글자색상 */
	text-decoration: none;
	font-size: 1.2rem;
	padding: 8px 16px 10px;
}
/* 'PREV' 부분 */
#pagination a:before {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	top: 0;
	left: 0;
	background-color: #B21948;
	border-radius: 24px;
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: all 0.2s;
}

#pagination a:hover, #pagination a #pagination-active {
	color: #fff;
}

#pagination a:hover:before, #pagination a #pagination-active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

#pagination #pagination-active {
	color: #fff;
}

#pagination #pagination-active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*'NEXT' 전체 틀 */
#pagination-newer {
	margin-right: 50px;
}

#pagination-older {
	margin-left: 50px;
}

.productList tr {
	border-bottom: 1px solid #B21948;
}

.meau {
	padding-top: 30px;
	padding-left: 800px;
	font-family: 'KIMM_Bold';
}

.meau a {
	color: white;
	text-decoration: none;
}

select {
	padding: 5px 5px;
}
/* 문의하기 버튼 */
#updateBtn {
	padding: 20px 80px;
	background-color: #B21948;
	border: 1px solid white;
	color: white;
	font-size: 20px;
	font-weight: bold;
}